
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


section {
  margin-top: 80px;
  scroll-margin-top: 100px; /* Para que al hacer clic en el navbar
   no tape el encabezado */
}



body {
    background-color: #1f242d;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}


#photo {

      width: auto;

    height: auto;
}

a {
    
    text-decoration: none;
}

h2{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 40px;
}


.navbar {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: #1f242dc1;
        
    display: flex;
    z-index: 100;
        
    justify-content: space-between;
    align-items: center;



}

.navbar .logo {
    color:azure;

    font-size: 30px;
    font-weight: 700;


}

.navbar ul {
    display: flex;
}

.navbar ul li
{
    list-style: none;
    margin-left: 30px;
}

.navbar ul li a{
    color:azure;

    font-size: 15px;
    font-weight: 500;
}

.navbar ul li a:hover {
    color: #66d0c9;
    transition: 0.3s;
}

.btn {

    color: #fff;
    
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.resumen {

   
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;   
    padding: 60px 8% 0;
    height: 100vh;
    color: #fff;
    gap: 3vw;
    
    
}


.resume-info h1 {
    font-size: 2.5vw;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(102, 208, 201, 0.4);  
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.resume-info h2 {
    font-size: 1.3vw;
    font-weight: 600;
    color: #66d0c9;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.resume-info p {
    font-size: 1.1vw;
    color: #cccccc;
    margin-top: 15px;
    line-height: 1.6;
    max-width: 50vw;
    text-align: justify;
    text-wrap: balance;
}


.btn {
    margin-top: 20px;
    line-height: 1.5;
    display: inline-block;
    padding: 10px 30px;
    background: #66d0c9;
    border: 2px solid #66d0c9;
    border-radius: 40px;
    box-shadow: 0 0 10px #66d0c9;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
    
}

.btn:hover {
    background: transparent;
    color: #66d0c9;
    box-shadow: none;
}

.image-container {
    position: relative;
    width: 25vw;
    height: 25vw;
    margin: auto;
}


.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 0.8vw #66d0c9;
}

/* Línea giratoria:  */
.image-container::before {
    content: "";
    position: absolute;
    top: -1vw;
    left: -1vw;
    width: 27vw;  
    height: 27vw;
    border-radius: 50%;
    background: conic-gradient(
        rgba(102, 208, 201, 0.8) 0deg,
        rgba(102, 208, 201, 0.5) 60deg,
        rgba(102, 208, 201, 0) 180deg,
        rgba(102, 208, 201, 0) 360deg
    );
    z-index: 1;
    animation: rotateArc 10s linear infinite;
}


/* Animación infinita */
@keyframes rotateArc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.formacion {
    
    background-color: #1f242d;
    color: #fff;
}



.formacion-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
}

.formacion-block {
    display: inline-block;
    width: 45%;
    background-color: #2a2f3a;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(102, 208, 201, 0.2);
    transition: transform 0.3s;
}


.formacion-block:hover {
    transform: translateY(-5px);
}

.formacion-block h3 {
    color: #66d0c9;
    font-size: 1.5vw;
    margin-bottom: 15px;
    border-bottom: 1px solid #66d0c9;
    padding-bottom: 5px;
}

.formacion-block ul {
    list-style: none;
    padding-left: 0;
}

.formacion-block li {
    margin-bottom: 20px;
    line-height: 1.6;
    background-color: #1f242d;
    padding: 15px;
    border-radius: 8px;
}



.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "titulo titulo"
        "formulario ubicacion"
        "redes redes";
    gap: 40px;
    padding: 40px 30px 0;
    max-width: 1200px;   /* Ancho total */
    margin: 0 auto;      /* Centra la sección */
    min-height: 80vh;
}

.contacto h2 {
    grid-area: titulo;
    text-align: center;
    color: #ffffff;
    font-size: 2vw;
    margin-bottom: 20px;
}

.contacto h3 {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  color: #66d0c9;
  font-size: 1vw;

}

form {
    grid-area: formulario;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
    min-height: 400px;   
}

form input[type="text"],
form select,
form textarea,
form select option {
    background-color: #fff;
    color: #1f242d;
}

form textarea {
            
    min-height: 250px;      
    max-height: 300px;
    min-width: 500px;   
    background-color: #fff; 
    color: #1f242d;       
          
   
}

.mapa-centro {
    grid-area: ubicacion;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;   
}

.mapa-centro iframe {
    width: 100%;
    height: 400px;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(102, 208, 201, 0.3);
    margin-top: 20px;
}

.ubicacion-texto {
    margin-top: 25px;
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 40px;
    max-width: 70%;
    
}




.btn-sci {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
}

.btn-sci p {
    margin: 0;
    font-size: 1vw;
    text-align: center;
}



.btn-sci a {
    display: inline-flex;
    padding: 9px ;
    border: 2px solid #66d0c9;
    border-radius: 50%;
    font-size:11vw;
    color: #66d0c9;
    margin: 0 8px;
    transition: 1s;
}

.btn-sci a:hover {
    background-color: #66d0c9;
    color: #1f242d;
    box-shadow: 0 0 10px #66d0c9;
}




form button[type="submit"] {
  background-color: #142029;
  color: #66d0c9;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

form button[type="submit"]:hover {
  background-color: #0d161c;
  color: #ffffff;
  box-shadow: 0 0 10px #66d0c9;
}

.habilidades h3{
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    color: #66d0c9;
    font-size: 1.5vw
}
.habilidad-items {
    display: flex;
    justify-content: center;
    
    gap: 40px;
    margin: 20px 0;
}

.habilidad-items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1vw;
    color: #cccccc;
}

.habilidad-items .item i {
    font-size: 6vw;
    color: #ebebeb;
}

table {
    width: 85%;
    margin: 40px auto 60px;
    background-color: #2a2f3a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(102, 208, 201, 0.2);
}
table th, table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 2px solid #444;
}

table th {
    background-color: #1f242d;
    color: #66d0c9;
    font-size: 1.1vw;
}

#proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "titulo titulo"
        "bot poli"
        "venta domino";    
    gap: 40px;
    padding: 40px 30px 0;
    max-width: 1200px;        
    min-height: 80vh;
    background: none;
    margin: 0 auto;
}

#proyectos h3 {
    text-align: center;
}


#proyectos h2 {
    grid-area: titulo;
    text-align: center;
    color: #ffffff;
    font-size: 2vw;
    margin-bottom: 20px;
}

.image-bot{
    width: 260px;
    height: 300px;
    border-radius: 18px;
    box-shadow: 0 2px 10px rgba(102, 208, 201, 0.10);
    margin-bottom: 3px;
    border: 3px solid #1f242d;
}

.image-proy {
    width: 400px;
    height: 290px;
    border-radius: 18px;
    box-shadow: 0 2px 10px rgba(102, 208, 201, 0.10);
    margin-bottom: 3px;
    border: 3px solid #1f242d;
}



.bot{
    grid-area: bot;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;   /* Altura mínima */
    background-color: #23293a;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(102, 208, 201, 0.13);
    padding: 32px 24px 24px 24px;
    margin: 0 0 30px 0;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid #22304a;
    align-content: center;

}

.bot:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 8px 24px rgba(102, 208, 201, 0.22);
    border-color: #66d0c9;
}
.polinator{
    grid-area: poli;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;   /* Altura mínima */
    background-color: #23293a;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(102, 208, 201, 0.13);
    padding: 32px 24px 24px 24px;
    margin: 0 0 30px 0;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid #22304a;
}
.polinator:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 8px 24px rgba(102, 208, 201, 0.22);
    border-color: #66d0c9;
}

.domino{
    grid-area: domino;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;   /* Altura mínima */
    background-color: #23293a;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(102, 208, 201, 0.13);
    padding: 32px 24px 24px 24px;
    margin: 0 0 30px 0;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid #22304a;
}
.domino:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 8px 24px rgba(102, 208, 201, 0.22);
    border-color: #66d0c9;
}
.cars{
    grid-area: venta;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;   
    background-color: #23293a;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(102, 208, 201, 0.13);
    padding: 32px 24px 24px 24px;
    margin: 0 0 30px 0;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid #22304a;
}
.cars:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 8px 24px rgba(102, 208, 201, 0.22);
    border-color: #66d0c9;
}






#referencias {

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between ;
    padding: 10px 50px;
    
}


#referencias > h2 {
    flex: 0 0 100%;
}

 

#referencias article {
    background-color: #2a2f3a;
    flex: 1 1 0;
    min-width: 0;
    border-radius: 12px;
    padding: 35px 30px 35px 30px;
    margin: 35px auto;
    max-width: 80%;
    font-family: 'Georgia', serif;
    box-shadow: 0 0 10px rgba(102, 208, 201, 0.2);
}

#referencias article blockquote {
  font-style: italic;
  margin-top: 10px;
  padding-left: 20px;
  border-left: 3px solid #66d0c9;
  
  
}

#referencias article p {
    margin-bottom: 18px;
    line-height: 2;
    font-size: 1.1em;
}


#referencias article p span {
 
  display: block;
  text-align: center;

  
}



footer p {

   text-align: right;

     font-style: italic;

}

nav > ul {

    list-style: none;

}


